* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

.flashcards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 10px;
}

.flashcards div {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 30px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid #00381c;
  background-color: #72ee67;
  color: #000000;
}
